.article {
  align: center;
  width: 960px;
  margin: 0 auto;
  margin-top: 40px;
}

.article_header {
  color: black;
  font-weight: bold;
  font-size: 36px;
  margin: 0px;
}

.article_subheader {
  margin-top: 20px;
  display: inline-block;
  font-weight: 500;
  line-height: 16px;
}

.article_reading_time {
  color: var(--gray-color);
}

.article_body {
  margin-top: 20px;
  line-height: 175%;
  font-size: 18px;
}

.article_body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 70%;
}

.article_tail {
  margin-top: 70px;
  margin-left: -10px;
  padding: 10px;
  color:white;
  background: var(--key-color);
  width:max-content;
  font-size: 18px;
}

.article_authors {
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
}

.article_date {
  font-style: italic;
  font-size: 14px;
}

.MathJax_Display {
  color:black;
}

pre {
  background: #E9F8F9;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

p {
  margin-top: 10px;
  margin-bottom: 0px;
}

#footnote_container{
  pointer-events: none;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.footnote_link {
  background:#8A42B71A;
  box-shadow: 0px 0px 0px 1px #8A42B740;
  padding-left:3px;
  padding-right:3px;
  border-radius: 3px;

  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footnote {
  width: 200px;
  border-radius: 16px;
  visibility: hidden;

  background-color: white;
  box-shadow: 1px 1px 5px 1px #0002;
  padding: 20px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  font-size: 12px;
  line-height: 155%;
}

.footnote_title {
  font-size: 14px;
  margin-bottom: 10px;
  color:var(--key-color);
}

.show {
  visibility: visible;
}

ol {
  margin-top: 0px;
}

