.article {
  align: center;
  width: 960px;
  margin: 0 auto;
  margin-top: 40px;
}

.article_header {
  color: black;
  font-weight: bold;
  font-size: 36px;
  margin: 0px;
}

.article_subheader {
  margin-top: 20px;
  display: inline-block;
  font-weight: 500;
  line-height: 16px;
}

.article_reading_time {
  color: var(--gray-color);
}

.article_body {
  margin-top: 20px;
  line-height: 155%;
  font-size: 18px;
}

.article_body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 70%;
}

.article_tail {
  margin-top: 70px;
  margin-left: -10px;
  padding: 10px;
  color:white;
  background: var(--key-color);
  width:max-content;
  font-size: 18px;
}

.article_authors {
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
}

.article_date {
  font-style: italic;
  font-size: 14px;
}

.MathJax_Display {
  color:black;
}

pre {
  background: #E9F8F9;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

p {
  margin-top: 10px;
  margin-bottom: 0px;
}
