@media screen and (max-width:1000px){
.article_body {
  font-size: 25px !important;
}
.article_header {
  font-size: 50px !important;
}
.article_tail {
  font-size: 25px !important;
}
.article_authors {
  font-size: 25px !important;
}
.article_date {
  font-size: 25px !important;
}
.footnote {
  font-size: 25px !important;
  width: 400px !important;
}
.footnote_title {
  font-size: 30px !important;
}
.article_subheader {
  font-size: 25px !important;
}
}

.article {
  align: center;
  width: 960px;
  margin: 0 auto;
  margin-top: 40px;
}

.article_header {
  color: black;
  font-weight: bold;
  font-size: 36px;
  margin: 0px;
}

.article_subheader {
  margin-top: 20px;
  display: inline-block;
  font-weight: 500;
  line-height: 16px;
}

.article_reading_time {
  color: var(--gray-color);
}

.article_body {
  margin-top: 20px;
  line-height: 175%;
  font-size: 18px;
}


.article_body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 70%;
}

.article_tail {
  margin-top: 70px;
  margin-left: -10px;
  padding: 10px;
  color:white;
  background: var(--key-color);
  width:max-content;
  font-size: 18px;
}

.article_authors {
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
}

.article_date {
  font-style: italic;
  font-size: 14px;
}

.MathJax_Display {
  color:black;
}

pre {
  background: #E9F8F9;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

p {
  margin-top: 10px;
  margin-bottom: 0px;
}

#footnote_container{
  pointer-events: none;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.footnote_link {
  background:#8A42B70A;
  box-shadow: 0px 0px 0px 1px #8A42B760;
  padding-left:3px;
  padding-right:3px;
  border-radius: 3px;

  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footnote {
  width: 200px;
  border-radius: 16px;
  visibility: hidden;

  background-color: white;
  box-shadow: 1px 1px 5px 1px #0002;
  padding: 20px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  font-size: 12px;
  line-height: 155%;
}

.footnote_title {
  font-size: 14px;
  margin-bottom: 10px;
  color:var(--key-color);
}

.show {
  visibility: visible;
}

ol {
  margin-top: 0px;
}




.article_preview {
  align: center;
  width: 960px;
  margin: 0 auto;
  margin-top: 40px;
}

.article_preview .article_tail {
  margin-top: 0px;
  margin-left: 0px;
  height: 49px;
  padding: 0px;
  color:var(--gray-color);
  background: white;
  width:max-content;
}

.read_more {
  height: auto;
  width: 150px;
  border-width: 1px;
  border-style: solid;
  vertical-align: middle;
  display: table-cell;
  padding: 10px;
  font-size: 14px;
}



.first-step {
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 50px), 50% 100%, 0% calc(100% - 50px));
  margin-bottom: -40px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 60px;
  display: inline-block;
  background-color: #E5F0F1;
}
.middle-step {
  clip-path: polygon(0% 0%, 50% 50px, 100% 0%, 100% calc(100% - 50px), 50% 100%, 0% calc(100% - 50px));
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: -40px;
  height: 100%;
  display: inline-block;
  background-color: white;
}
.middle-step-colorized {
  clip-path: polygon(0% 0%, 50% 50px, 100% 0%, 100% calc(100% - 50px), 50% 100%, 0% calc(100% - 50px));
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: -40px;
  height: 100%;
  display: inline-block;
  background-color: #E5F0F1;
}
.last-step {
  clip-path: polygon(0% 0%, 50% 50px, 100% 0%, 100% 100%, 0% 100%);
  padding-top: 50px;
  margin-bottom: -40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
  display: inline-block;
  background-color: white;
}
.last-step-colorized {
  clip-path: polygon(0% 0%, 50% 50px, 100% 0%, 100% 100%, 0% 100%);
  padding-top: 50px;
  margin-bottom: -40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
  display: inline-block;
  background-color: #E5F0F1;
}
.step_number {
  width: 50px;
  height: 90px;
  margin-left: 10px;
  margin-top: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 84px;
  line-height: 100px;
  text-align: right;
  color: #8A42B7;
}
.step_content {
  height: 100%;
  width: calc(100% - 100px);
  margin-top: -105px;
  margin-left: 80px;
}
