h1 {
  margin: 10px 0 10px;
}

#editor_body {
  width: 95%;
  max-width: 1960px;
  margin: 0 auto;
}

#editor {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
}

.editor_header {
  text-align: center;
}

#editor_window, #view_window {
  display: table-cell;
  width: 45%;
  height: 100%;
  color: white;
  padding: 20px;
  padding-bottom: 20px;
}

#editor_window {
  padding-top: 55px;
  text-align: center;
  color: black;
}

#view_window{
  background: white;
  position: relative;
}

#view_window_background {
  top: 0;
  color: black;
  text-align: left;
}

#editor_buttons {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  width: 100%;
  max-width: 1960px;
  padding: 10px;
  background: white;
  color: white;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

#editor_buttons_background {
  background: white;
  padding: 22px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#compile_button, #publish_button {
  padding: 10px;
  overflow: hidden;
  outline:none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

#compile_button {
  background: #3CCF7F;
  color: white;
  border: 0 none;
  width: 150px;
  margin-left: -3%;
}

#compile_button:active {
  background: #298e57;
}

#publish_button {
  background: white;
  color: #4676D4;
  border: 1px solid #4676D4;
  width: 150px;
}

#export_button {
  background: white;
  color: #4676D4;
  border: 1px solid #4676D4;
  width: 40px;
  height: 41px;
  overflow: hidden;
  outline:none;
  padding-bottom: 10px;
}

#export_ico {
  padding-top: 5px;
  margin-bottom: -6px;
}

#left_side_buttons, #right_side_buttons {
  width: 50%;
}

#publish_button:active, #export_button:active {
  background: #dee8fa;
}

input {
  width: 90%;
  height: 300px;
  resize: none;
  margin-bottom: 10px;
}

#add_section_buttons {
  margin-top: -60px;
  width: 50%;
  text-align: center;
  display: inline-block;
}

.add_section_button {
  background: #F7F7F7;
  border-radius: 50px;
  font-size: 14px;
  color: #4676D4;
  padding: 10px;
  border: 0 none;
  overflow: hidden;
  outline:none;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 4%;
}

.add_section_ico {
  margin-bottom: -4px;
}

.editor_text_area {
  font-family: Montserrat;
  color: black;
  background: #E9F8F9;
  font-size: 18px;
  width: calc(100% - 14px);
  padding: 9px;
  min-height: 300px;
  height: 100%;
  resize: vertical;
  border: 0 none;
  overflow: hidden;
  outline:none;
}

.section_name {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 12px;
  margin-top: 12px;
  margin-bottom: -3px;
  margin-left: -3px;
  padding: 5px 0px 5px 20px;
  padding-right: 21px;
  width: 100%;
  text-align: left;
  background: #E5F0F1;
}

.section_name_td {
  width: 100%;
}

.div_delete_section_button {
  margin-top: 13.5px;
  margin-bottom: 2px;
  height: 20px;
  padding-right: 7px;
  padding-top: 3px;
}

.editor_form {
  margin-top: -4px;
}

#article_tittle_text_area, #article_section_text_area, #author_name_text_area {
  font-family: Montserrat;
  color: black;
  background: #E9F8F9;
  font-size: 18px;
  padding: 9px;
  width: 100%;
  height: 18px;
  resize: none;
  border: 0 none;
  overflow: hidden;
  outline:none;
}

#article_tittle, #article_section, #author_name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 10px;
  color: #474747;
  text-align: left;
  width: calc(100% - 16px);
}

#article_tittle {
  margin-top: -23px;
}

#article_tittle_form, #article_section_form, #author_name_form {
  width: calc(100% - 16px);
}

#article_section_form {
  margin-left: -3px;
}

#author_name_form {
  margin-left: 4px;
}

table {
  width: 100%;
}

#add_section_tittle {
  margin-top: -10px;
  font-size: 14px;
}

.div_delete_section_button {
   width:100%;
}

.delete_section_button {
  background: none;
  overflow: hidden;
  outline:none;
  height: 20px;
  width: 20px;
  border: 0 none;
  padding: -5px;
}
