#editor {
  position: relative;
  width: 95%;
  display: table;
  margin: 0 auto;
}

.editor_header {
  text-align: center;
}

#editor_window, #view_window {
  display: table-cell;
  width: 45%;
  height: auto;
  color: white;
  padding: 20px;
}

#editor_window {
  text-align: center;
  color: black;
  left: 0;
}

#view_window{
  background: white;
  right: 0;
}

#view_window_background {
  position: absolute;
  margin-top: 5px;
  color: black;
  text-align: left;
}

#editor_buttons {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: white;
  color: white;
  //text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

#compile_button, #publish_button, #export_button {
  padding: 10px;
  overflow: hidden;
  outline:none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

#compile_button {
  background: #3CCF7F;
  color: white;
  border: 0 none;
  width: 150px;
  margin-left: 20%;
}

#compile_button:active {
  background: #298e57;
}

#publish_button, #export_button {
  background: white;
  color: #4676D4;
  border: 1px solid #4676D4;
  width: 150px;
}

#publish_button {
  margin-left: 30%;
}

#export_button {
}

#publish_button:active, #export_button:active {
  background: #dee8fa;
}


input {
  width: 90%;
  height: 300px;
  resize: none;
  margin-bottom: 10px;
}

#add_section_buttons {
  width: 50%;
  text-align: center;
  display: inline-block;
}

.add_section_button {
  background: #F7F7F7;
  border-radius: 50px;
  font-size: 14px;
  color: #4676D4;
  padding: 10px;
  border: 0 none;
  overflow: hidden;
  outline:none;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 4%;
}

.add_section_ico {
 margin-bottom: -4px;
}

.editor_text_area {
  font-family: Montserrat;
  color: black;
  background: #E9F8F9;
  font-size: 18px;
  width: 100%;
  min-height: 300px;
  height: 100%;
  resize: vertical;
  border: 0 none;
  overflow: hidden;
  outline:none;
}

.section_name {
  font-size: 12px;
  margin-top: 10px;
  padding: 5px 0px 5px 20px;
  width: calc(100% - 16px);
  text-align: left;
  background: #E5F0F1;
}

#article_tittle_text_area, #article_section_text_area, #author_name_text_area {
  font-family: Montserrat;
  color: black;
  background: #E9F8F9;
  font-size: 18px;
  padding: 9px;
  width: 100%;
  height: 18px;
  resize: none;
  border: 0 none;
  overflow: hidden;
  outline:none;
}

#article_tittle, #article_section, #author_name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding-bottom: 7px;
  padding-left: 10px;
  color: #474747;
  text-align: left;
  width: calc(100% - 16px);
}

#article_tittle_form, #article_section_form, #author_name_form {
  width: calc(100% - 16px);
}
