{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Z-Sort</title>
  <meta name="description" content="Z-Sort">
  <meta name="author" content="evgenstf">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">

  <script type="text/javascript"
      src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

  <link rel="stylesheet" href="{% static 'css/code_highlight.css' %}">
  <script src="{% static 'js/code_highlight.js' %}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">

&base_css&
&content_css&

<body>
  <div class="header" id="ghost_header"></div>
  <div class="header" id="z_sort_header">
    <table>
      <tr>
        <td id="left_side_buttons">
          <a href="/" style="color:inherit;">
            <span style="color:var(--key-color); font-weight:bold">Z</span>-SORT
          </a>
        </td>
        <td id="right_side_buttons">
          <div style="display: table-cell;">
            <span style="font-size: 12px">NAME_TO_REPLACE {{request.user}}</span>
          </div>
          <div style="display: table-cell;" class="header_button">
            {% if user.is_authenticated %}
              <form action="{% url 'editor' %}" id="editor_button">
                <input type="submit" value="New article" />
              </form>
            {% else %}
            <form action="{% url 'register' %}" id="register_button">
              <input type="submit" value="Register" />
            </form>
            {% endif %}
          </div>
          <div style="display: table-cell;" class="header_button">
            {% if user.is_authenticated %}
                  <form action="{% url 'logout' %}" id="logout_button">
                    <input type="submit" value="Logout" />
                  </form>
              {% else %}
                  <form action="{% url 'login' %}" id="login_button">
                    <input type="submit" value="Login" />
                  </form>
              {% endif %}
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div id="content">
    &content&
  </div>

  <div id="ghost_footer"></div>

  <div class="footer" id="z_sort_footer">
    2021, <span style="font-weight:bold">Z</span><span style="font-weight:500">-SORT</span>
  </div>
</body>

&base_js&
&content_js&

</html>
