<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<link rel="stylesheet" href="{% static 'css/editor.css' %}">

<div id="editor">
<div id="editor_window">
</div>


<div id="view_window">
    <div id="view_window_background">
        &editor_article&
    </div>
</div>
</div>

<div id="editor_buttons">
    <button onclick="compile()" id="compile_button"> Compile an article </button>
</div>

<script type="text/javascript" src="{% static 'js/editor.js' %}"></script>


<div id="add_section_buttons">
    add section <br><br>
    <button onclick="add_section()" class="add_section_button"> markdown </button>
    <button onclick="add_section()" class="add_section_button"> graph </button>
    <button onclick="add_section()" class="add_section_button"> chart </button>
    <button onclick="add_section()" class="add_section_button"> steps </button>
</div>
