<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
<link rel="stylesheet" href="{% static 'css/editor.css' %}">

<div id="editor_body">
    <div id="editor">
      <div id="editor_window">
        <div class="article_attribute_hint">Title</div>
        <form method="post">
          <textarea id="title_textarea" class="article_attribute_textarea" placeholder="Title"></textarea>
        </form>
        <div class="article_attribute_hint">Author</div>
        <form method="post">
          <textarea id="author_textarea" class="article_attribute_textarea" placeholder="Author"></textarea>
        </form>

        <div id='editor_sections_div'>
        </div>
        <div id="add_section_buttons">
          <p id="add_section_tittle">add section</p><br>
          <button id="add_markdown_section_button" class="add_section_button"><img src="/sr/svg/icon_markdown.svg">markdown</button>
          <button id="add_graph_section_button" class="add_section_button"><img src="/sr/svg/icon_graph.svg">graph</button>
          <button id="add_chart_section_button" class="add_section_button"><img src="/sr/svg/icon_chart.svg">chart</button>
          <button id="add_steps_section_button" class="add_section_button"><img src="/sr/svg/icon_steps.svg">steps</button></div>
      </div>


      <div id="view_window">
          <div id="view_window_background">
              &editor_article&
          </div>
      </div>
    </div>

    <div id="editor_buttons">
        <table>
            <tr>
                <td id="left_side_buttons">
                    <button onclick="compile()" id="compile_button"> Compile </button>
                </td>
                <td id="right_side_buttons">
                    <button onclick="publish()" id="publish_button"> Publish </button>
                    <button onclick="export_article()" id="export_button">
                        Export
<!--                        <img id="export_ico" src="/sr/svg/icon_export.svg">-->
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <script type="text/javascript" src="{% static 'js/new_editor.js' %}"></script>

</div>
