<style>
:root {
  --key-color: #8A42B7;
  --gray-color: #474747;
  --link-color: #4676D4;
  font-family: Montserrat;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  background: white;
  margin: 0;
  -webkit-appearance: none;
}

.header {
  width: 100%;
  top: 0px;
  height: 60px;
}

.footer {
  width: 100%;
  bottom: 0;
}

#logout_button input {
  background: rgba(0, 0, 0, 0.03);
  width: 70px;
  height: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  outline:none;
  overflow:hidden;
  border:0 none;
  -webkit-border-radius: 0;
}

#left_side_buttons_header {
  width: 100%;
  padding-left: 50px;
  text-align: left;
}

#right_side_buttons_header {
  width: 100%;
  padding-right: 50px;
  text-align: right;
}

.header_button {
  padding: 5px;
}

#z_sort_footer {
  background: var(--gray-color);
  color: white;
  height: 44px;

  font-size: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  line-height: 44px;
}

#z_sort_header{
  position: fixed;
  backdrop-filter: blur(5px);
  color: var(--gray-color);
  background: #ffffff88;
  z-index: 100;

  font-size: 36px;
  font-weight: 500;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  line-height: 60px;
}

.fixed_position {
  position: fixed;
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  font-size: 24px;
}

strong {
  font-weight: 500 !important;
}

a {
  color: var(--link-color);
  text-decoration: none
}

table {
  border: none;
  rules: none;
}
</style>
