<style>
:root {
  --key-color: #8A42B7;
  --gray-color: #474747;
  --link-color: #4676D4;
  font-family: Montserrat;
}

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

body {
  background: white;
  margin: 0;
}

.header {
  width: 100%;
  top: 0px;
  height: 60px;
}

.footer {
  width: 100%;
  bottom: 0;
}

#content {
  width: 70%;
  margin: 0 auto;
}

#editor_button input, #logout_button input, #user_page_button input {
  height: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  outline:none;
  overflow:hidden;
  border:0 none;
  -webkit-border-radius: 0;
}

#user_page_button input {
  width: auto;
  padding: 0 10px;
  background: #9260ca;
  color: #ffffff;
}

#editor_button input {
  width: 90px;
  background: #3CCF7F;
  color: #ffffff;
}

#logout_button input {
  width: 70px;
  background: rgba(0, 0, 0, 0.03);
  color: #474747;
}

#login_button input {
  background: rgba(255, 255, 255, 0.82);
  width: 70px;
  height: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  outline:none;
  overflow:hidden;
  border: 1px solid #4676D4;
  color: #4676D4;
  -webkit-border-radius: 0;
}

#register_button input {
  background: #4676D4;
  width: 90px;
  height: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  outline:none;
  overflow:hidden;
  border: 1px solid #4676D4;
  color: #ffffff;
  -webkit-border-radius: 0;
}

#left_side_buttons {
  width: 100%;
  padding-left: 50px;
  text-align: left;
}

#right_side_buttons {
  width: 100%;
  padding-right: 50px;
  padding-bottom: 20px;
  text-align: right;
}

.header_button {
  padding: 0 5px;
}

#z_sort_footer {
  background: var(--gray-color);
  color: white;
  height: 44px;
  font-size: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  line-height: 44px;
}

#z_sort_header{
  position: fixed;
  height: auto;
  backdrop-filter: blur(5px);
  color: var(--gray-color);
  background: #ffffff88;
  z-index: 100;
  font-size: 36px;
  font-weight: 500;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.fixed_position {
  position: fixed;
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  font-size: 24px;
}

strong {
  font-weight: 500 !important;
}

a {
  color: var(--link-color);
  text-decoration: none
}

table {
  border: none;
  rules: none;
}
</style>
